/* ReserveMessege 전체 컨테이너 */
.reserve-message-container {
    border: 1px solid #879bb8;
    width: 1000px;
    height: 600px;
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
  }
  
  /* 타이틀 스타일 */
  .reserve-message-title {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
    border-bottom: 1px solid #879bb8;
    padding-bottom: 10px;
  }
  
  /* 메시지 카드 컨테이너 */
  .message-container {
    margin-bottom: 15px;
    position: relative;
  }
  
  /* 메시지 헤더 */
  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* 메시지 날짜 스타일 */
  .message-date {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  /* 취소 버튼 */
  .cancel-button {
    background-color: #d9d9d9;
    color: #333;
    border-radius: 0%;
    padding: 3px 11px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #bfbfbf;
  }
  
  /* 메시지 카드 */
  .message-card {
    background-color: #f5f5f5;
    border: 0px solid #d9d9d9;
    padding: 20px;
  }
  